<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"  type="log4net.Congfig.Log4NetConfigurationHandler,log4net" />
  </configSections>
  <log4net>
    <root>
    </root>  
    <logger name="sqlLog">
      <level value="INFO" />
      <appender-ref ref="AdoNetAppender_MySql"/>
    </logger> 
    <appender name="AdoNetAppender_MySql" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"/>
      <connectionString value="server=127.0.0.1;port=53306; userid=root;password=pms;database=MyTest;"/>

      <commandText value="insert into EventLog (EventLog,IPAddress,OperationSystem,OperationType,OperationMsg,EventCreateDate) values (@EventLog,@IPAddress,@OperationSystem,@OperationType,@OperationMsg,@EventCreateDate)" />
      <parameter>
        <parameterName value="@EventLog"/>
        <dbType value="String"/>
        <size value="200"/>
        <layout type="ILBLI.Core.Log4.EventLogLayout">
          <conversionPattern value="%mylay{EventLog}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@IPAddress"/>
        <dbType value="String"/>
        <size value="200"/>
        <layout type="ILBLI.Core.Log4.EventLogLayout">
          <conversionPattern value="%mylay{IPAddress}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@OperationSystem"/>
        <dbType value="String"/>
        <size value="300"/>
        <layout type="ILBLI.Core.Log4.EventLogLayout">
          <conversionPattern value="%mylay{OperationSystem}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@OperationType"/>
        <dbType value="String"/>
        <size value="200"/>
        <layout type="ILBLI.Core.Log4.EventLogLayout">
          <conversionPattern value="%mylay{OperationType}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@OperationMsg"/>
        <dbType value="String"/>
        <size value="1000"/>
        <layout type="ILBLI.Core.Log4.EventLogLayout">
          <conversionPattern value="%mylay{OperationMsg}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@EventCreateDate"/>
        <dbType value="String"/>
        <layout type="ILBLI.Core.Log4.EventLogLayout">
          <conversionPattern value="%mylay{EventCreateDate}"/>
        </layout>
      </parameter>
    </appender>
  </log4net>
</configuration>
<!--配置文件示例-->


<!--
drop table if exists EventLog;

/*==============================================================*/
/* Table: EventLog                                           */
/*==============================================================*/
create table EventLog
(
ID                   INT not null auto_increment,
EventLog             nvarchar(100) not null default '',
IPAddress            varchar(100) not null default '',
OperationSystem      nvarchar(200) not null default '',
OperationType        varchar(100) not null default '',
OperationMsg         nvarchar(1000) not null default '',
EventCreateDate      datetime not null default '1970-01-01',
primary key (ID)
);
-->